### Importación de datos

In [2]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

#1. Análisis de facturación

### Ingresos totales por tienda

1. tienda 1:

In [3]:
ing_totales_tienda1 = tienda['Precio'].sum()
print(f"El ingreso total de la tienda 1 es: {ing_totales_tienda1}")

El ingreso total de la tienda 1 es: 1150880400.0

2. tienda 2:

In [4]:
ing_totales_tienda2 = tienda2['Precio'].sum()
print(f"El ingreso total de la tienda 2 es: {ing_totales_tienda2}")

El ingreso total de la tienda 2 es: 1116343500.0

3. tienda 3:

In [5]:
ing_totales_tienda3 = tienda3['Precio'].sum()
print(f"El ingreso total de la tienda 3 es: {ing_totales_tienda3}")

El ingreso total de la tienda 3 es: 1098019600.0

4. tienda 4:

In [6]:
ing_totales_tienda4 = tienda4['Precio'].sum()
print(f"El ingreso total de la tienda 4 es: {ing_totales_tienda4}")

El ingreso total de la tienda 4 es: 1038375700.0

# 2. Ventas por categoría

### Cantidad de productos vendidos por categoría en cada tienda

1. tienda 1:

In [7]:
productos_categoria = tienda['Categoría del Producto'].value_counts()
print(productos_categoria)

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [8]:
venta_cat = tienda.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
print(venta_cat)

                              Precio
Categoría del Producto
Electrónicos             429493500.0
Electrodomésticos        363685200.0
Muebles                  187633700.0
Instrumentos musicales    91299000.0
Deportes y diversión      39290000.0
Juguetes                  17995700.0
Artículos para el hogar   12698400.0
Libros                     8784900.0

2. tienda 2:

In [9]:
productos_categoria2 = tienda2['Categoría del Producto'].value_counts()
print(productos_categoria2)

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [10]:
venta_cat2 = tienda2.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
print(venta_cat2)

                              Precio
Categoría del Producto
Electrónicos             410831100.0
Electrodomésticos        348567800.0
Muebles                  176426300.0
Instrumentos musicales   104990300.0
Deportes y diversión      34744500.0
Juguetes                  15945400.0
Artículos para el hogar   14746900.0
Libros                    10091200.0

3. tienda 3:

In [11]:
productos_categoria3 = tienda3['Categoría del Producto'].value_counts()
print(productos_categoria3)

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [12]:
venta_cat3 = tienda3.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
print(venta_cat3)

                              Precio
Categoría del Producto
Electrónicos             410775800.0
Electrodomésticos        329237900.0
Muebles                  201072100.0
Instrumentos musicales    77380900.0
Deportes y diversión      35593100.0
Juguetes                  19401100.0
Artículos para el hogar   15060000.0
Libros                     9498700.0

4. tienda 4:

In [13]:
productos_categoria4 = tienda4['Categoría del Producto'].value_counts()
print(productos_categoria4)

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [14]:
venta_cat4 = tienda4.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio', ascending=False)
print(venta_cat4)

                              Precio
Categoría del Producto
Electrónicos             409476100.0
Electrodomésticos        283260200.0
Muebles                  192528900.0
Instrumentos musicales    75102400.0
Deportes y diversión      33350100.0
Juguetes                  20262200.0
Artículos para el hogar   15074500.0
Libros                     9321300.0

# 3. Calificación promedio de la tienda

### Cuál es la satisfacción de los clientes en cada tienda

1. tienda 1:

In [15]:
promedio_calificacion = round(tienda['Calificación'].sum()/len(tienda), 2)
print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion}")

El promedio de la calificación de los clientes en la tienda uno es: 3.98

2. tienda 2:

In [16]:
promedio_calificacion2 = round(tienda2['Calificación'].sum()/len(tienda2), 2)
print(f"El promedio de la calificación de los clientes en la tienda dos es: {promedio_calificacion2}")

El promedio de la calificación de los clientes en la tienda dos es: 4.04

3. tienda 3:

In [17]:
promedio_calificacion3 = round(tienda3['Calificación'].sum()/len(tienda3), 2)
print(f"El promedio de la calificación de los clientes en la tienda tres es: {promedio_calificacion3}")

El promedio de la calificación de los clientes en la tienda tres es: 4.05

4. tienda 4:

In [18]:
promedio_calificacion4 = round(tienda4['Calificación'].sum()/len(tienda4), 2)
print(f"El promedio de la calificación de los clientes en la tienda cuatro es: {promedio_calificacion4}")

El promedio de la calificación de los clientes en la tienda cuatro es: 4.0

# 4. Productos más y menos vendidos

1. tienda 1:

In [19]:
productos_vendidos = tienda['Producto'].value_counts()
max_vendido = productos_vendidos.idxmax()
min_vendido = productos_vendidos.idxmin()
print(f"El producto más vendido es: {max_vendido}")
print(f"El producto menos vendido es: {min_vendido}")

El producto más vendido es: Microondas
El producto menos vendido es: Auriculares con micrófono

2. tienda 2:

In [20]:
productos_vendidos2 = tienda2['Producto'].value_counts()
max_vendido = productos_vendidos2.idxmax()
min_vendido = productos_vendidos2.idxmin()
print(f"El producto más vendido es: {max_vendido}")
print(f"El producto menos vendido es: {min_vendido}")

El producto más vendido es: Iniciando en programación
El producto menos vendido es: Juego de mesa

3. tienda 3:

In [21]:
productos_vendidos3 = tienda3['Producto'].value_counts()
max_vendido = productos_vendidos3.idxmax()
min_vendido = productos_vendidos3.idxmin()
print(f"El producto más vendido es: {max_vendido}")
print(f"El producto menos vendido es: {min_vendido}")

El producto más vendido es: Kit de bancas
El producto menos vendido es: Bloques de construcción

4. tienda 4:

In [22]:
productos_vendidos4 = tienda4['Producto'].value_counts()
max_vendido = productos_vendidos4.idxmax()
min_vendido = productos_vendidos4.idxmin()
print(f"El producto más vendido es: {max_vendido}")
print(f"El producto menos vendido es: {min_vendido}")

El producto más vendido es: Cama box
El producto menos vendido es: Guitarra eléctrica

# 5. Envío promedio por tienda

### Cuál es el valor promedio que debe pagar el cliente por envío en cada tienda

1. tienda 1:

In [23]:
promedio_envio = round(tienda['Costo de envío'].mean(), 2)
print(f"El valor promedio que debe pagar el cliente por envío en la tienda uno es: {promedio_envio}")

El valor promedio que debe pagar el cliente por envío en la tienda uno es: 26018.61

2. tienda 2:

In [24]:
promedio_envio2 = round(tienda2['Costo de envío'].mean(), 2)
print(f"El valor promedio que debe pagar el cliente por envío en la tienda dos es: {promedio_envio2}")

El valor promedio que debe pagar el cliente por envío en la tienda dos es: 25216.24

3. tienda 3:

In [25]:
promedio_envio3 = round(tienda3['Costo de envío'].mean(), 2)
print(f"El valor promedio que debe pagar el cliente por envío en la tienda tres es: {promedio_envio3}")

El valor promedio que debe pagar el cliente por envío en la tienda tres es: 24805.68

4. tienda 4:

In [26]:
promedio_envio4 = round(tienda4['Costo de envío'].mean(), 2)
print(f"El valor promedio que debe pagar el cliente por envío en la tienda cuatro es: {promedio_envio4}")

El valor promedio que debe pagar el cliente por envío en la tienda cuatro es: 23459.46

## Gráficos

### Este gráfico va a representar los ingresos de las tiendas por cada año

1. tienda 1:

In [31]:
tienda['Fecha de Compra'] = pd.to_datetime(tienda['Fecha de Compra'], dayfirst=True, errors='coerce')
tienda['Año'] = tienda['Fecha de Compra'].dt.year
ingresos_ct_año = tienda.groupby('Año')[['Precio']].sum()
print(ingresos_ct_año)

           Precio
Año
2020  368933200.0
2021  362120800.0
2022  316565600.0
2023  103260800.0

2. tienda 2:

In [32]:
tienda2['Fecha de Compra'] = pd.to_datetime(tienda2['Fecha de Compra'], dayfirst=True, errors='coerce')
tienda2['Año'] = tienda2['Fecha de Compra'].dt.year
ingresos_ct_año2 = tienda2.groupby('Año')[['Precio']].sum()
print(ingresos_ct_año2)

           Precio
Año
2020  320466600.0
2021  351215500.0
2022  358226500.0
2023   86434900.0

3. tienda 3:

In [33]:
tienda3['Fecha de Compra'] = pd.to_datetime(tienda3['Fecha de Compra'], dayfirst=True, errors='coerce')
tienda3['Año'] = tienda3['Fecha de Compra'].dt.year
ingresos_ct_año3 = tienda3.groupby('Año')[['Precio']].sum()
print(ingresos_ct_año3)

           Precio
Año
2020  321707500.0
2021  362954400.0
2022  350438300.0
2023   62919400.0

4. tienda 4:

In [34]:
tienda4['Fecha de Compra'] = pd.to_datetime(tienda4['Fecha de Compra'], dayfirst=True, errors='coerce')
tienda4['Año'] = tienda4['Fecha de Compra'].dt.year
ingresos_ct_año4 = tienda4.groupby('Año')[['Precio']].sum()
print(ingresos_ct_año4)

           Precio
Año
2020  330847700.0
2021  347823600.0
2022  302221500.0
2023   57482900.0

## Vamos a unir todas las tiendas en un solo DF
### para eso primero limpiamos los datos

In [38]:
ingresos_ct_año = ingresos_ct_año.rename(columns={'Precio':'Tienda 1'})
ingresos_ct_año2 = ingresos_ct_año2.rename(columns={'Precio':'Tienda 2'})
ingresos_ct_año3 = ingresos_ct_año3.rename(columns={'Precio':'Tienda 3'})
ingresos_ct_año4 = ingresos_ct_año4.rename(columns={'Precio':'Tienda 4'})

In [39]:
ventas_tiendas = pd.concat([ingresos_ct_año, ingresos_ct_año2, ingresos_ct_año3, ingresos_ct_año4], axis=1)
ventas_tiendas

         Tienda_1     Tienda_2     Tienda_3     Tienda_4
Año
2020  368933200.0  320466600.0  321707500.0  330847700.0
2021  362120800.0  351215500.0  362954400.0  347823600.0
2022  316565600.0  358226500.0  350438300.0  302221500.0
2023  103260800.0   86434900.0   62919400.0   57482900.0